.form {
  border: 1px black solid;
  width:400px;
  margin-top:25px;
  padding-top:20px;
  padding-bottom:20px;
  margin-left:50px;
  padding-left:25px;
}

.form2 {
  background-color: rgb(162, 157, 157);
  width:400px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius: 10px;
  color:whitesmoke;
  margin-left:50px;
  padding-left:25px;
  margin-bottom:25px;
}

.flex {
  display:flex;
  gap:20px;
  align-items: center;
}

input[type=checkbox]:checked + label {
  color: blue;
  text-decoration: line-through;
}

#cbox:checked + label {
  color:green;
  text-decoration: line-through;
}